@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");

:root {
  /* Variaveis de cores para background */
  --background-white: #ffffff;
  --background-gray: #f5f5f5;
  --background-gray-dark: #3d3d3d;
  --background-black: #1e1e1e;

  /* Variaveis de cores para fonts */
  --font-black: #2b2b2b;
  --font-gray: #7c7c7c;
  --font-white: #ffffff;

  /* Variaveis de cor para os cards de totais */
  --total: #64b95f;
  --media-month: #ffb53f;
  --media-day: #853fff;
  --category: #3fa2ff;

  /* Variavel de borda */
  --border: #e6e6e6;
}

body {
  font-family: "Jura", sans-serif;
  font-weight: 600;
  width: 0;
  height: 0;
  margin: 0;
}
