.cardMedias {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--background-white);
  border: 1px solid var(--border);
  border-top: 6px solid var(--border);
  padding: 17px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px #7090b035;
}

.mediaIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.icons {
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: #ebebeb;
}

.filter:hover {
  transition: ease-in-out 0.3s;
  background: #d3d3d3;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content span {
  font-size: 17px;
  font-weight: 600;
  color: var(--font-black);
}

.content p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: var(--font-gray);
}
